name: Qodana
on:
  push:
    branches: ["main", "master"]
  pull_request:
jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 0

      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2025.2
        with:
          # Use the community linter to avoid licensing issues in open source
          linter: jetbrains/qodana-python-community:2025.2
          # Caching makes subsequent runs much faster
          cache-default-branch-only: true
